//-
//- Question wrapper templates
//-

template(name="question")
  .form-group
    +Template.dynamic template=questionTemplateName

template(name="question_edit")
  span.sortable-handle
    i.mdi.mdi-drag
  span= label
  .delete.warning
    i.mdi.mdi-delete

//-
//- Text input field
//-

template(name="question.inputText")
  label.control-label(for="form-#{form}-field-#{name}")= label
  if data.required
    |  *
  input.form-control(
    id="form-#{form}-field-#{name}"
    type='text'
    value=value
    name=data.name
    placeholder=data.placeholder
    maxlength=data.maxlength
    required=required
  )

template(name="question.inputText.edit")
  p text input edit

//-
//- Text area
//-

template(name="question.textArea")
  label.control-label(for="form-#{form}-field-#{name}")= label
  if data.required
    |  *
  textarea.form-control(
    id="form-#{form}-field-#{name}"
    name=data.name
    placeholder=data.placeholder
    maxlength=data.maxlength
    required=required
  )= value

template(name="question.textArea.edit")
  p textarea edit
