template(name="question")
  .form-group
    +Template.dynamic template=questionTemplateName

//-
//- Text input field
//-

template(name="question.inputText")
  label.control-label(for="form-#{form}-field-#{name}")= text
  if properties.required
    |  *
  input.form-control(
    id="form-#{form}-field-#{name}"
    type='text'
    value=value
    name=properties.name
    placeholder=properties.placeholder
    maxlength=properties.maxlength
    required=properties.required
  )

template(name="question.inputText.edit")
  p text input edit

//-
//- Text area
//-

template(name="question.textArea")
  label.control-label(for="form-#{form}-field-#{name}")= text
  if properties.required
    |  *
  textarea.form-control(
    id="form-#{form}-field-#{name}"
    name=properties.name
    placeholder=properties.placeholder
    maxlength=properties.maxlength
    required=properties.required
  )= value

template(name="question.textArea.edit")
  p textarea edit
