template(name="survey_admin_questions_edit")
  with question
    .panel.panel-default
      .panel-heading
        h4 Edit question
      .panel-body
        form(novalidate='novalidate')
          .form-group(data-required='true')
            label.control-label(for='new-label') Question *
            input#new-label.form-control(type='text' name='text' required value=text)
          .form-group(data-required='true')
            label.control-label(for='new-type') Question Type
            .btn-grid
              each types
                button.btn.btn-default.type(type='button' class='{{#if selected}} active {{/if}}' data-type=name)= text
          .form-group
            label.control-label Required
              input.form-control(type='checkbox' name='required' checked=required)
          if match type regex='shortAnswer|longAnswer'
            .form-group
              label.control-label(for='new-placeholder') Placeholder
              input#new-placeholder.form-control(type='text', name='placeholder' value=properties.placeholder)
          if match type regex='checkboxes|multipleChoice'
            label Choices
            .form-group(data-required='true')
              each choices
                .choice-container
                  input.form-control.choice(type='text' data-id=_id value=name)
                  a.delete-choice(data-id=_id)
                    i.mdi.mdi-close-circle
              else
                button.btn.btn-primary.add-choice(type="button")
                  i.mdi.mdi-plus-circle Add a choice
              unless isEmpty choices
                button.btn.btn-primary.add-choice(type="button")
                  i.mdi.mdi-plus-circle Add another choice
          if match type regex='scale|number'
            .form-group
              label.control-label Minimum
                input.form-control.choice(type='number' name='min' step='any' value=properties.min)
            .form-group
              label.control-label Maximum
                input.form-control.choice(type='number' name='max' step='any' value=properties.max)
          .form-group
            button.btn.btn-primary(type='submit')
              span.mdi.mdi-library-check
              | Update Question
  else
    | Loading…
