template(name="survey_admin")
  .page-header
    nav.navbar
      .navbar-header
        a.navbar-brand.pull-left(href="/")= survey.title
      ul.nav.navbar-nav.survey-admin-nav
        li
          a(href="/admin/surveys/#{survey._id}/details" class=detailsActive) Details
        li
          a(href="/admin/surveys/#{survey._id}/forms" class=formsActive) Forms
        li
          a(href="/admin/surveys/#{survey._id}/users" class=usersActive) Users
  if detailsActive
    p= survey.description
  else
    +survey_admin_forms survey=survey
