template(name="survey_admin")
  .survey-admin
    nav.navbar.navbar-default.survey-admin--nav
      .container-fluid
        .navbar-header
          h2= survey.title
        ul.nav.navbar-nav.navbar-right
          li(class="{{isActiveRoute 'survey_admin_details'}}")
            a.survey-admin--view-link(href="{{pathFor 'survey_admin_details' id=id}}" data-page='details') Details
          li(class="{{isActiveRoute regex='survey_admin_forms|survey_admin_forms_new|survey_admin_form_details'}}")
            a.survey-admin--view-link(href="{{pathFor 'survey_admin_forms' id=id}}" data-page='forms') Forms
          li(class="{{isActiveRoute 'survey_admin_users'}}")
            a.survey-admin--view-link(href="{{pathFor 'survey_admin_users' id=id}}" data-page='users') Users

    .container-fluid
      if Template.subscriptionsReady

        if isActiveRoute 'survey_admin_details'
          +survey_admin_details survey=survey

        else if isActiveRoute 'survey_admin_forms'
          +survey_admin_forms survey=survey

        else if isActiveRoute 'survey_admin_forms_new'
          +survey_admin_forms_new survey=survey

        else if isActiveRoute 'survey_admin_form_details'
          +survey_admin_form_details

        else if isActiveRoute 'survey_admin_users'
          +survey_admin_users survey=survey
